/* This is the only CSS that matters  */
body {
font-family: times, serif;
font-size: 3.5vmin;
line-height: 1.2;
cursor: url('img/cursor1.png');
}

td, th {
  background: grey;
}

table {
  background: pink;
}
